{% extends 'base.html' %}
{% block meta_description %}Eye of Telegram Activity :D{% endblock %}
{% block title %}TeleSherlock{% endblock %}
{% block content %}
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-5">
        <h2>AYBUKE</h2>
        <p>.. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <h2>HALIL</h2>
        <p>.. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
    <hr>
</div> <!-- /container -->
{% endblock %}
